body {
    background-color: whitesmoke;
}

h1 {
    font-family: verdana;
    color: rgb(68, 185, 0);
    margin: 10px;
}

h2 {
    font-family: verdana;
    color: white;
    margin: 10px;
}

p, a {
    font-family: verdana;
    font-size: 12pt;
    margin: 10px;
}

.home {
    background-color: blue;
    padding-left: 6px;
    padding-right:6px;
    padding-top:3px;
    padding-bottom: 3px;
}

table, th, tr, td{
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px;
    color: white;
    background-color: blue;
    padding: 5px;
}

nav {
    background-color: black;
    color:white;
    margin:10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

img {
    border-style: solid;
    border-color: red;
    border: 10pt;
    height: 50%;
    width: 50%;
}