body {
    background-color: whitesmoke;
}

h1 {
    font-family: verdana;
    color: rgb(68, 185, 0)
}

p {
    font-family: verdana;
    font-size: 12pt;
}

div {
    background-color: blue;
    border: 2pt;
    border-radius: 2pt;
    padding: 20pt;
}

.pdiv {
    color: white
}

img {
    border-color: red;
    border: 10pt;
    height: 50%;
    width: 50%;
}